/*  FONTS */
@font-face {
    font-family: gothic725;
    src: url(../font/Gothic725BT-BoldA.ttf) format('truetype'),
      url(../font/Gothic725BT-BoldA.eot),
      url(../font/Gothic725BT-BoldA.eot?#iefix) format('embedded-opentype'),
      url(../font/Gothic725BT-BoldA.woff) format('woff')
}

/* HEADER */
$header-height: 50px;
$links-height: 20px;

/*  COLOURS */
$image-section-bg: #fff;
$bottom-section-bg: #e8024f;
$text-box: #e8e8e8;
$text-color: #242424;
$pink: #e90052;
$navy: #38003c;
$grey: #e8e8e8;
$darker-grey: #dedddd;
$stats: #37003b;

// FONT
$regular-font: Arial, Helvetica Neue, Helvetica, sans-serif;
$title-font: gothic725;
$name-font-size: 23px;
$text-font-size: 16px;
$regular-weight: 400;
$bold-weight: 700;

// PIXEL HEIGHTS, WIDTHS, SIZES
$card-height: 600px;
$card-width: 300px;
$top-section-height: 295px;
$bottom-section-height: 305px;
$bottom-section-header-height: 65px;
$text-box-height: 40px;
$text-box-width: 268px;
$footer-height: 100px;

// MARGINS
$badge-margin: 20px;
$text-box-margin: 16px;
$stat-box-margin: 2px 0px;
$category-left: 11px;

// BADGE
$badge-wrapper-top: 254px;
$badge-size: 82px;

// BOTTOM SECTION
$statistic-right: 14px;
$statistic-size :18px;
$box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.15);

/*  MIXINS */
@mixin reset-margins {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
@mixin center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@mixin horizontal-center {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@mixin transition-ease($secs) {
    transition: $secs;
    transition: $secs ease;
    -webkit-transition: $secs ease;
    -moz-transition: $secs ease;
    -ms-transition: $secs ease;
    -o-transition: $secs ease;
}
@mixin animation-ease-in-out($class, $secs) {
    -webkit-animation: $class $secs ease-in-out;
    -moz-animation: $class $secs ease-in-out;
    -o-animation: $class $secs ease-in-out;
    -ms-animation: $class $secs ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
}


body {
    background: $grey;
    @include reset-margins;
    p, h1, h2, h3 {
        font-family: arial;
        font-family: $regular-font;
        font-weight: $regular-weight;
        @include reset-margins;
    }
    /* loading gif  */
    #loading-gif {
        left: 0px;
        top: 0px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 999999;
        background: #fff;
        transition: 0.5s ease;
        #gif {
            height: 200px;
            width: 200px;
            background: url(../img/loading.gif) center no-repeat;
            background-size: cover;
            z-index: 99999;
            @include center;
        }
    }
    /* VIEW IN PORTRAIT INSTRUCTION - visible only on small devices in landscape */
    .tilt {
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        position: fixed;
        z-index: 99999;
        background: $pink;
        display: none;
        @media only screen and (orientation: landscape) and (max-height: 600px) and (max-width: 700px) {
            display: block !important;
        }
        .rotate-screen {
            background: url(../img/rotate.png) no-repeat center center;
            background-size: contain;
            height: 200px;
            width: 200px;
            display: none;
            @include center;
            @media only screen and (orientation: landscape) and (max-height: 600px) and (max-width: 700px) {
                display: block !important;
            }
        }
    }
    /* HEADER - to give the page some structure */
    header {
        div#banner {
            width: 100vw;
            background: $navy;
            height: $header-height;
            #header-title {
                height: 100%;
                width: 300px;
                position: relative;
                display: inline-block;
                h1 {
                    font-size: 20px;
                    color: $darker-grey;
                    margin: 0px $text-box-margin;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    @include vertical-align;
                }
            }
        }
        div#links {
            width: 100vw;
            background: $darker-grey;
            height: $links-height;
        }
        @media only screen and (max-height: 799px)  {
            display: none;
        }
    }

    /* MAIN  */
    main {
        min-height: calc(100vh - 175px);
        background: $grey;
        width:100vw;
        height: auto;
        @media only screen and (max-height: 799px)  {
            min-height: 100vh;
            background: $grey;
        }
        div#container {
            height: calc(100vh - 175px);
            width: 100%;
            max-width: 700px;
            margin: auto;
            background: $grey;
            @media only screen and (max-height: 799px)   {
                min-height: 100vh;
                min-width: 100vw;
                background: #fff;
            }
            /* PLAYER CARD */
            div#player-card {
                height: $card-height;
                width: $card-width;
                margin: 0px;
                position: relative;
                overflow: hidden;
                display: inline-block;
                @media only screen and (max-height: 799px)   {
                    @include center;
                }
                @media only screen and (max-height: 600px) and (min-height: 480px) {
                    height: 100vh !important;
                    max-width: 300px !important;
                    max-height: 600px !important;
                    min-height: 480px !important;
                    top: 0px;
                    @include horizontal-center;
                }
                /* TOP HALF OF CARD */
                section#top {
                    height: $top-section-height;
                    width: 100%;
                    background: $image-section-bg;
                    @media only screen and (max-height: 600px) and (min-height: 480px) {
                        height: 50%;
                    }
                    /* PLAYER SELECT DROPDOWN */
                    nav {
                        position: absolute;
                        width: $text-box-width;
                        margin: $text-box-margin;
                        cursor: pointer;
                        z-index: 1;
                        overflow: hidden;
                        @media only screen and (max-height: 580px) {
                            margin: 0px 16px;
                        }
                        div#select {
                            background: $grey;
                            height: $text-box-height;
                            width: 100%;
                            position: relative;
                            z-index: 1;
                            p {
                                left: $text-box-margin;
                                @include vertical-align;
                            }
                            canvas {
                                right: 14px;
                                @include vertical-align;
                            }
                        }
                        div#dropdown {
                            position: relative;
                            overflow: hidden;
                            background: #fff;
                            margin-top: -210px;
                            width: 100%;
                            height: 210px;
                            margin-left: 50%;
                            @include horizontal-center;
                            @include transition-ease(0.8s);
                            p {
                                left: $text-box-margin;
                                @include vertical-align;
                            }
                            .player-select {
                                background: $grey;
                                width: 100%;
                                height: $text-box-height;
                                margin: 2px 0px 0px;
                                position: relative;
                                color: $text-color;
                                &:hover {
                                    background: $navy;
                                    color: #fff;
                                }
                            }
                            & .selected {
                                background: $navy;
                                color: #fff;
                                &:hover {
                                    background: $navy;
                                    color: #fff;
                                }
                            }
                            & .not-selected {
                                background: $grey;
                                color: $text-color;
                                &:hover {
                                    background: $darker-grey;
                                    color: $text-color;
                                }
                            }
                        }
                        .dropdown-open {
                            margin-top: 0px !important;
                            //width: 100% !important;
                        }
                    }
                    /* PLAYER MAIN IMAGE */
                    div#player-image-wrapper {
                        height: 100%;
                        width: 100%;
                        background: #fff url(../img/card-bg.png) right top no-repeat;
                        background-size: 102%;
                        //opacity: 0;
                        div#player-img {
                            margin: 0px;
                            height: 100%;
                            width: 100%;
                            @include transition-ease(0.6s);
                        }
                        /* PLAYER IMAGES */
                        & .player0 {
                            background: url(../img/toby_alderweireld.png) left 8px bottom no-repeat;
                            background-size: 54.75%;
                        }
                        & .player1 {
                            background: url(../img/yaya_toure.png) left 8px bottom no-repeat;
                            background-size: 54.75%;
                        }
                        & .player2 {
                            background: url(../img/wayne_rooney.png) left 8px bottom no-repeat;
                            background-size: 54.75%;
                        }
                        & .player3 {
                            background: url(../img/per_mertesacker.png) left 8px bottom no-repeat;
                            background-size: 54.75%;
                        }
                        & .player4 {
                            background: url(../img/riyad_mahrez.png) left 8px bottom no-repeat;
                            background-size: 54.75%;
                        }
                        & .player-image-load {
                            opacity: 1;
                        }
                    }
                }
                /* STATS HALF OF CAR */
                section#bottom {
                    height: $bottom-section-height;
                    width: 100%;
                    background: $bottom-section-bg;
                    margin: 0px;
                    div#wrapper {
                        height: $text-box-width;
                        width: calc(100% – 30px);
                        padding: $text-box-margin;
                        overflow: hidden;
                        @media only screen and (max-height: 580px) {
                            padding: 5px 16px;
                        }
                        @media only screen and (max-height: 600px) and (min-height: 480px) {
                            height: 50vh !important;
                            max-height: 268px !important;
                        }
                        /* PLAYER'S NAME AND POSITION */
                        header {
                            height: $bottom-section-header-height;
                            @media only screen and (max-height: 799px)  {
                                display: block;
                            }
                            @media only screen and (max-height: 600px) and (min-height: 480px) {
                                height: 23% !important;
                            }
                            h2 {
                                color: #fff;
                                font-size: $name-font-size;
                                letter-spacing: -1px;
                            }
                            p {
                                color: #fff;
                                font-size: 16px;
                                margin-top: 7px;
                            }
                        }
                        /* MAIN STATS SECTION */
                        main {
                            background: $bottom-section-bg;
                            .stats-box {
                                width: $text-box-width;
                                height: $text-box-height;
                                background: $text-box;
                                margin: $stat-box-margin;
                                position: relative;
                                box-shadow: $box-shadow;
                                @media only screen and (max-height: 600px) and (min-height: 480px) {
                                    max-height: 40px;
                                    height: 12.5%;
                                }
                                p {
                                    @include vertical-align;
                                }
                                .category {
                                    left: $category-left;
                                }
                                .statistic {
                                    right: $statistic-right;
                                    font-size: $statistic-size;
                                    font-weight: $bold-weight;
                                    color: $stats;
                                }
                            }
                        }
                    }
                }
                /* CLUB BADGE */
                div#club-badge-wrapper {
                    height: $badge-size;
                    width: $badge-size;
                    border-radius: $badge-size;
                    position: absolute;
                    top: $badge-wrapper-top;
                    right: $badge-margin;
                    @media only screen and (max-height: 600px) and (min-height: 480px) {
                        top: calc(50vh - 41px) !important;
                    }
                    /* ALL CLUB BADGES */
                    div#badge {
                        height: 100%;
                        width: 100%;
                        border-radius: $badge-size;
                    }
                    & .badge0 {
                        background: #fff url(../img/thfc_badge.png) center center no-repeat;
                        background-size: 95%;
                    }
                    & .badge1 {
                        background: #fff url(../img/mcfc_badge.png) center center no-repeat;
                        background-size: 108%;
                    }
                    & .badge2 {
                        background: #fff url(../img/mufc_badge.png) center center no-repeat;
                        background-size: 95%;
                    }
                    & .badge3 {
                        background: #fff url(../img/afc_badge.png) center center no-repeat;
                        background-size: 90%;
                    }
                    & .badge4 {
                        background: #fff url(../img/lcfc_badge.png) center center no-repeat;
                        background-size: 103%;
                    }
                }
            }
            /*SHORT SUMMARY */
            summary {
                background: #fff;
                width: calc(700px - 316px);
                max-width: calc(100vw - 316px);
                height: 600px;
                display: inline-block;
                position: absolute;
                margin-left: 16px;
                h2 {
                    margin: $text-box-margin;
                    color: $navy;
                    font-size: 50px;
                    font-weight: 700;
                    font-family: gothic725;
                    letter-spacing: -3px;
                    line-height: 0.9;
                }
                h2#subheading {
                    color: $bottom-section-bg;
                }
                h3 {
                    margin: 32px 12px;
                    font-size: 24px;
                    background: $grey;
                    width: 323px;
                    padding: 16px 6px;
                    letter-spacing: -2px;
                }
                p {
                    margin: $text-box-margin;
                    font-size: 18px;
                }
                @media only screen and (max-height: 799px) {
                    display: none;

                }
            }
        }
    }
    /* FOOTER */
    footer {
        background: $darker-grey;
        width: 100vw;
        height: $footer-height;
    }
}
/*  ANIMATION - player's name slide off/on the card */
@keyframes name-off-on-animated {
    0% {margin-left: 0%;}
    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    100% {margin-left: 0%;}
}
.name-off-on-animated {
    @include animation-ease-in-out(name-off-on-animated, 1.6s);
}
/*  ANIMATION - player's position slide off/on the card */
@keyframes position-off-on-animated {
    0% {margin-left: 0%;}
    35% {margin-left: -100%;}
    75% { margin-left: -100%;}
    100% {margin-left: 0%;}
}
.position-off-on-animated {
    @include animation-ease-in-out(position-off-on-animated, 2s);
}
/*  BADGE FLIP - badge flips to change */
@keyframes badge-flip {
    0% {transform: scaleX(1);}
    48% {transform: scaleX(0);}
    52% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}
.badge-flip {
    @include animation-ease-in-out(badge-flip, 1s);
}












