@charset "UTF-8";
/*  FONTS */
@font-face {
  font-family: gothic725;
  src: url(../font/Gothic725BT-BoldA.ttf) format("truetype"), url(../font/Gothic725BT-BoldA.eot), url(../font/Gothic725BT-BoldA.eot?#iefix) format("embedded-opentype"), url(../font/Gothic725BT-BoldA.woff) format("woff"); }

/* HEADER */
/*  COLOURS */
/*  MIXINS */
body {
  background: #e8e8e8;
  display: block;
  margin: 0px;
  padding: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /* loading gif  */
  /* VIEW IN PORTRAIT INSTRUCTION - visible only on small devices in landscape */
  /* HEADER - to give the page some structure */
  /* MAIN  */
  /* FOOTER */ }
  body p, body h1, body h2, body h3 {
    font-family: arial;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }
  body #loading-gif {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    body #loading-gif #gif {
      height: 200px;
      width: 200px;
      background: url(../img/loading.gif) center no-repeat;
      background-size: cover;
      z-index: 99999;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
  body .tilt {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99999;
    background: #e90052;
    display: none; }
    @media only screen and (orientation: landscape) and (max-height: 600px) and (max-width: 700px) {
      body .tilt {
        display: block !important; } }
    body .tilt .rotate-screen {
      background: url(../img/rotate.png) no-repeat center center;
      background-size: contain;
      height: 200px;
      width: 200px;
      display: none;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
      @media only screen and (orientation: landscape) and (max-height: 600px) and (max-width: 700px) {
        body .tilt .rotate-screen {
          display: block !important; } }
  body header div#banner {
    width: 100vw;
    background: #38003c;
    height: 50px; }
    body header div#banner #header-title {
      height: 100%;
      width: 300px;
      position: relative;
      display: inline-block; }
      body header div#banner #header-title h1 {
        font-size: 20px;
        color: #dedddd;
        margin: 0px 16px;
        text-transform: uppercase;
        letter-spacing: -1px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
  body header div#links {
    width: 100vw;
    background: #dedddd;
    height: 20px; }
  @media only screen and (max-height: 799px) {
    body header {
      display: none; } }
  body main {
    min-height: calc(100vh - 175px);
    background: #e8e8e8;
    width: 100vw;
    height: auto; }
    @media only screen and (max-height: 799px) {
      body main {
        min-height: 100vh;
        background: #e8e8e8; } }
    body main div#container {
      height: calc(100vh - 175px);
      width: 100%;
      max-width: 700px;
      margin: auto;
      background: #e8e8e8;
      /* PLAYER CARD */
      /*SHORT SUMMARY */ }
      @media only screen and (max-height: 799px) {
        body main div#container {
          min-height: 100vh;
          min-width: 100vw;
          background: #fff; } }
      body main div#container div#player-card {
        height: 600px;
        width: 300px;
        margin: 0px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        /* TOP HALF OF CARD */
        /* STATS HALF OF CAR */
        /* CLUB BADGE */ }
        @media only screen and (max-height: 799px) {
          body main div#container div#player-card {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%); } }
        @media only screen and (max-height: 600px) and (min-height: 480px) {
          body main div#container div#player-card {
            height: 100vh !important;
            max-width: 300px !important;
            max-height: 600px !important;
            min-height: 480px !important;
            top: 0px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%); } }
        body main div#container div#player-card section#top {
          height: 295px;
          width: 100%;
          background: #fff;
          /* PLAYER SELECT DROPDOWN */
          /* PLAYER MAIN IMAGE */ }
          @media only screen and (max-height: 600px) and (min-height: 480px) {
            body main div#container div#player-card section#top {
              height: 50%; } }
          body main div#container div#player-card section#top nav {
            position: absolute;
            width: 268px;
            margin: 16px;
            cursor: pointer;
            z-index: 1;
            overflow: hidden; }
            @media only screen and (max-height: 580px) {
              body main div#container div#player-card section#top nav {
                margin: 0px 16px; } }
            body main div#container div#player-card section#top nav div#select {
              background: #e8e8e8;
              height: 40px;
              width: 100%;
              position: relative;
              z-index: 1; }
              body main div#container div#player-card section#top nav div#select p {
                left: 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%); }
              body main div#container div#player-card section#top nav div#select canvas {
                right: 14px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%); }
            body main div#container div#player-card section#top nav div#dropdown {
              position: relative;
              overflow: hidden;
              background: #fff;
              margin-top: -210px;
              width: 100%;
              height: 210px;
              margin-left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              -webkit-transition: 0.8s;
              transition: 0.8s;
              transition: 0.8s ease;
              -webkit-transition: 0.8s ease;
              -moz-transition: 0.8s ease;
              -ms-transition: 0.8s ease;
              -o-transition: 0.8s ease; }
              body main div#container div#player-card section#top nav div#dropdown p {
                left: 16px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%); }
              body main div#container div#player-card section#top nav div#dropdown .player-select {
                background: #e8e8e8;
                width: 100%;
                height: 40px;
                margin: 2px 0px 0px;
                position: relative;
                color: #242424; }
                body main div#container div#player-card section#top nav div#dropdown .player-select:hover {
                  background: #38003c;
                  color: #fff; }
              body main div#container div#player-card section#top nav div#dropdown .selected {
                background: #38003c;
                color: #fff; }
                body main div#container div#player-card section#top nav div#dropdown .selected:hover {
                  background: #38003c;
                  color: #fff; }
              body main div#container div#player-card section#top nav div#dropdown .not-selected {
                background: #e8e8e8;
                color: #242424; }
                body main div#container div#player-card section#top nav div#dropdown .not-selected:hover {
                  background: #dedddd;
                  color: #242424; }
            body main div#container div#player-card section#top nav .dropdown-open {
              margin-top: 0px !important; }
          body main div#container div#player-card section#top div#player-image-wrapper {
            height: 100%;
            width: 100%;
            background: #fff url(../img/card-bg.png) right top no-repeat;
            background-size: 102%;
            /* PLAYER IMAGES */ }
            body main div#container div#player-card section#top div#player-image-wrapper div#player-img {
              margin: 0px;
              height: 100%;
              width: 100%;
              -webkit-transition: 0.6s;
              transition: 0.6s;
              transition: 0.6s ease;
              -webkit-transition: 0.6s ease;
              -moz-transition: 0.6s ease;
              -ms-transition: 0.6s ease;
              -o-transition: 0.6s ease; }
            body main div#container div#player-card section#top div#player-image-wrapper .player0 {
              background: url(../img/toby_alderweireld.png) left 8px bottom no-repeat;
              background-size: 54.75%; }
            body main div#container div#player-card section#top div#player-image-wrapper .player1 {
              background: url(../img/yaya_toure.png) left 8px bottom no-repeat;
              background-size: 54.75%; }
            body main div#container div#player-card section#top div#player-image-wrapper .player2 {
              background: url(../img/wayne_rooney.png) left 8px bottom no-repeat;
              background-size: 54.75%; }
            body main div#container div#player-card section#top div#player-image-wrapper .player3 {
              background: url(../img/per_mertesacker.png) left 8px bottom no-repeat;
              background-size: 54.75%; }
            body main div#container div#player-card section#top div#player-image-wrapper .player4 {
              background: url(../img/riyad_mahrez.png) left 8px bottom no-repeat;
              background-size: 54.75%; }
            body main div#container div#player-card section#top div#player-image-wrapper .player-image-load {
              opacity: 1; }
        body main div#container div#player-card section#bottom {
          height: 305px;
          width: 100%;
          background: #e8024f;
          margin: 0px; }
          body main div#container div#player-card section#bottom div#wrapper {
            height: 268px;
            width: calc(100% – 30px);
            padding: 16px;
            overflow: hidden;
            /* PLAYER'S NAME AND POSITION */
            /* MAIN STATS SECTION */ }
            @media only screen and (max-height: 580px) {
              body main div#container div#player-card section#bottom div#wrapper {
                padding: 5px 16px; } }
            @media only screen and (max-height: 600px) and (min-height: 480px) {
              body main div#container div#player-card section#bottom div#wrapper {
                height: 50vh !important;
                max-height: 268px !important; } }
            body main div#container div#player-card section#bottom div#wrapper header {
              height: 65px; }
              @media only screen and (max-height: 799px) {
                body main div#container div#player-card section#bottom div#wrapper header {
                  display: block; } }
              @media only screen and (max-height: 600px) and (min-height: 480px) {
                body main div#container div#player-card section#bottom div#wrapper header {
                  height: 23% !important; } }
              body main div#container div#player-card section#bottom div#wrapper header h2 {
                color: #fff;
                font-size: 23px;
                letter-spacing: -1px; }
              body main div#container div#player-card section#bottom div#wrapper header p {
                color: #fff;
                font-size: 16px;
                margin-top: 7px; }
            body main div#container div#player-card section#bottom div#wrapper main {
              background: #e8024f; }
              body main div#container div#player-card section#bottom div#wrapper main .stats-box {
                width: 268px;
                height: 40px;
                background: #e8e8e8;
                margin: 2px 0px;
                position: relative;
                -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.15);
                box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.15); }
                @media only screen and (max-height: 600px) and (min-height: 480px) {
                  body main div#container div#player-card section#bottom div#wrapper main .stats-box {
                    max-height: 40px;
                    height: 12.5%; } }
                body main div#container div#player-card section#bottom div#wrapper main .stats-box p {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%); }
                body main div#container div#player-card section#bottom div#wrapper main .stats-box .category {
                  left: 11px; }
                body main div#container div#player-card section#bottom div#wrapper main .stats-box .statistic {
                  right: 14px;
                  font-size: 18px;
                  font-weight: 700;
                  color: #37003b; }
        body main div#container div#player-card div#club-badge-wrapper {
          height: 82px;
          width: 82px;
          border-radius: 82px;
          position: absolute;
          top: 254px;
          right: 20px;
          /* ALL CLUB BADGES */ }
          @media only screen and (max-height: 600px) and (min-height: 480px) {
            body main div#container div#player-card div#club-badge-wrapper {
              top: calc(50vh - 41px) !important; } }
          body main div#container div#player-card div#club-badge-wrapper div#badge {
            height: 100%;
            width: 100%;
            border-radius: 82px; }
          body main div#container div#player-card div#club-badge-wrapper .badge0 {
            background: #fff url(../img/thfc_badge.png) center center no-repeat;
            background-size: 95%; }
          body main div#container div#player-card div#club-badge-wrapper .badge1 {
            background: #fff url(../img/mcfc_badge.png) center center no-repeat;
            background-size: 108%; }
          body main div#container div#player-card div#club-badge-wrapper .badge2 {
            background: #fff url(../img/mufc_badge.png) center center no-repeat;
            background-size: 95%; }
          body main div#container div#player-card div#club-badge-wrapper .badge3 {
            background: #fff url(../img/afc_badge.png) center center no-repeat;
            background-size: 90%; }
          body main div#container div#player-card div#club-badge-wrapper .badge4 {
            background: #fff url(../img/lcfc_badge.png) center center no-repeat;
            background-size: 103%; }
      body main div#container summary {
        background: #fff;
        width: calc(700px - 316px);
        max-width: calc(100vw - 316px);
        height: 600px;
        display: inline-block;
        position: absolute;
        margin-left: 16px; }
        body main div#container summary h2 {
          margin: 16px;
          color: #38003c;
          font-size: 50px;
          font-weight: 700;
          font-family: gothic725;
          letter-spacing: -3px;
          line-height: 0.9; }
        body main div#container summary h2#subheading {
          color: #e8024f; }
        body main div#container summary h3 {
          margin: 32px 12px;
          font-size: 24px;
          background: #e8e8e8;
          width: 323px;
          padding: 16px 6px;
          letter-spacing: -2px; }
        body main div#container summary p {
          margin: 16px;
          font-size: 18px; }
        @media only screen and (max-height: 799px) {
          body main div#container summary {
            display: none; } }
  body footer {
    background: #dedddd;
    width: 100vw;
    height: 100px; }

/*  ANIMATION - player's name slide off/on the card */
@-webkit-keyframes name-off-on-animated {
  0% {
    margin-left: 0%; }
  40% {
    margin-left: -100%; }
  60% {
    margin-left: -100%; }
  100% {
    margin-left: 0%; } }
@keyframes name-off-on-animated {
  0% {
    margin-left: 0%; }
  40% {
    margin-left: -100%; }
  60% {
    margin-left: -100%; }
  100% {
    margin-left: 0%; } }

.name-off-on-animated {
  -webkit-animation: name-off-on-animated 1.6s ease-in-out;
  -moz-animation: name-off-on-animated 1.6s ease-in-out;
  -o-animation: name-off-on-animated 1.6s ease-in-out;
  -ms-animation: name-off-on-animated 1.6s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards; }

/*  ANIMATION - player's position slide off/on the card */
@-webkit-keyframes position-off-on-animated {
  0% {
    margin-left: 0%; }
  35% {
    margin-left: -100%; }
  75% {
    margin-left: -100%; }
  100% {
    margin-left: 0%; } }
@keyframes position-off-on-animated {
  0% {
    margin-left: 0%; }
  35% {
    margin-left: -100%; }
  75% {
    margin-left: -100%; }
  100% {
    margin-left: 0%; } }

.position-off-on-animated {
  -webkit-animation: position-off-on-animated 2s ease-in-out;
  -moz-animation: position-off-on-animated 2s ease-in-out;
  -o-animation: position-off-on-animated 2s ease-in-out;
  -ms-animation: position-off-on-animated 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards; }

/*  BADGE FLIP - badge flips to change */
@-webkit-keyframes badge-flip {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  48% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  52% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }
@keyframes badge-flip {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  48% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  52% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

.badge-flip {
  -webkit-animation: badge-flip 1s ease-in-out;
  -moz-animation: badge-flip 1s ease-in-out;
  -o-animation: badge-flip 1s ease-in-out;
  -ms-animation: badge-flip 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards; }

/*# sourceMappingURL=styles.css.map */
